$gray: rgb(239,240,244);
$lightblue: rgb(95,192,205);
$lightgray: rgb(200,200,200);

html{
	font-size: 625%;
}
body{
	background-color: $gray;
}
header{
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: $lightblue;
}
.g-head2{
	padding: 10px 0;
	text-align: center;
	font-size: .2rem;
	color: #fff;
}
.g-head{
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 10px;
	font-size: .16rem;
	line-height: .32rem;
	color: #fff;
}
.g-head3{
	@extend .g-head;
	left: auto;
	right: 0;	
}
.uninputbox{
	margin-top: 15px;
	font-size: 0;
	background-color: #fff;
	img{
		height: 55px;
	}
	input{
		@extend img;
		padding-left: 10px;
		width: calc(100% - 100px);
		vertical-align: top;
		border-style: none;
	}
}
.pwinputbox{
	@extend .uninputbox;
}
::-webkit-input-placeholder,{
	color: $lightgray;
}
.u-button{
	margin: 15px 0;
	padding: 13px 0;
	width: 100%;
	background-color: $lightblue;
	color: #fff;
	font:{
		size: .2rem;
		weight: 700;
	}
	border-style: none;
}
.u-forget{
	display: block;
	float: right;
	margin-right: 10px;
	color: $lightblue;
}