	*{
		margin:0;
		padding:0;
	}
	header{
		background-color:rgb(95,192,205);
		text-align:center;
		height:44px;
		width:100%;

	}
	body{
		background-color:rgb(239,240,244);
	}
	.pageheader1,.pageheader2,.pageheader3{
		line-height:44px;
		color:white;
	}
	.pageheader1{
		float:left;
		padding:0 10px;
	}
	.pageheader3{
		float:right;
		padding:0 10px;
	}
	.pageheader2{
		font-size:1.1em;
		position:fixed;
		width:100%;
	}
	form{
		margin:13px 0;
		background-color:white;
	}
	.icon{
		height:50px;
	}
	img{
		height:50px;
		vertical-align:middle;
	}
	input{
		height:2rem;
		font-size:0.8rem;
		width:60%;
		height:50px;
		border:none;
		outline:none;
	}
	::-webkit-input-placeholder{
		color:rgb(233,233,233);
	}
	.button{
		height:50px;
		width:100%;
		background-color:rgb(95,192,205);
		border:none;
		text-align:center;
		font-size:1.1rem;
		color:white;
	}
	.blank1{
		background-color:rgb(239,240,244);
		height:13px;
	}
	p{
		color:rgb(95,192,205);
		float:right;
		margin:20px 15px;
		text-decoration:underline;
	}
